<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .Title }}Penguins184 | {{ .Title }}{{ else }}Penguins184{{ end }}</title>

<!-- Make Lighthouse Happy -->
<link rel="preload" href="/style.css" as="style">
<link rel="preload" href="/assets/chicago.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<script src="script.js" defer></script>

<!-- Feel Like SPA -->
<link rel="preload" as="script" href="https://unpkg.com/@hotwired/turbo">
<script src="https://unpkg.com/@hotwired/turbo" defer></script>

<!-- OG Tags -->
<meta property="og:title" content="Penguins' Portfolio" />
<meta property="og:description" content="Penguins184's MacOS 4.2 Styled Portfolio" />
<meta property="og:image" content="/assets/penguin4.png" />
<meta name="theme-color" content="#ffffff">

<!-- "SEO" -->
<meta name="description" content="Penguins184's Portfolio, A Hobbyist Programmer, Tikerer, and Pianist, with Links, Notices, and Project Information">

<!-- Browser Support Who? -->
<link rel="icon" type="image/png" sizes="180x180" href="/assets/favicon.png">
